.button {
	@include flex-center(true);
	height: var(--button-height);
	padding-inline: 18px;
	font-size: 18px;
	color: var(--color-light);
	background-color: var(--color-dark);
	border: var(--border);
	border-radius: var(--border-radius);

	@include hover {
		color: var(--color-dark);
		background-color: var(--color-accent);
	}

	&-transparent {
		color: var(--color-dark);
		background-color: var(--color-light);
	}

	&--accent {
		background-color: var(--color-accent);
		height: 67px;
		min-width: 250px;

		color: var(--color-dark);

		@include hover {
			background-color: var(--color-dark-alt);
			color: var(--color-accent);
			border: 1px solid var(--color-accent);
		}
	}
}
